:root {
	background-color: #171717 !important;
}

body {
	background-image: url('https://scontent.fadl6-1.fna.fbcdn.net/v/t1.15752-9/274846731_1890879721112485_2487975053795368453_n.png?_nc_cat=104&ccb=1-5&_nc_sid=ae9488&_nc_ohc=SSiqoVMDozoAX_jT0f6&_nc_ht=scontent.fadl6-1.fna&oh=03_AVLaL-i8BeKfD5XGDhfaY6QWCI8XWGnAjyjIAIxUMI7_Ew&oe=6246350A');
}

#console {
	font-family: courier, monospace;
	color: #fff;
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	font-size:14px;
}

a {
	color: #0bc;
	text-decoration: none;
}

#a {
	color: #0f0;
}

#c {
	color: #0bc;
}

#l {
	color: #0bc;
}

#b {
	color: #ff0096;
}

#k {
    	animation: change 1s;
}

#op{
    	color: #888888
}

@keyframes change {
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}
